#secrets-image-grid {
	display: grid;
	grid-template-areas: 
	"a d"
	"b e"
	"c .";
	gap: 2vh;
}

#messages-1 {
	grid-area: a;
}

#messages-2 {
	grid-area: b;
}

#messages-3 {
	grid-area: c;
}

#earth {
	grid-area: d;
}

#qr-code-img {
	grid-area: e;
}